In [24]:
#Analisis Covid 19

In [25]:
#Configuración del ambiente 
import pandas as pd
import numpy as np 
import requests
from io import StringIO
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.ticker import FuncFormatter
from sklearn.ensemble import RandomForestRegressor

In [26]:
df_covid = pd.read_csv(StringIO(requests.get("https://covid19.who.int/WHO-COVID-19-global-data.csv").text))
df_population = pd.read_excel('https://raw.githubusercontent.com/ElProfeAlejo/Bootcamp_Databases/main/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT_REV1.xlsx', sheet_name=0, skiprows=16)
df_population = df_population[df_population['Year'] == 2019]

In [27]:
df_covid = pd.read_csv(StringIO(requests.get("https://covid19.who.int/WHO-COVID-19-global-data.csv").text))
df_covid

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-05,AF,Afghanistan,EMRO,NaN,0,NaN,0
1,2020-01-12,AF,Afghanistan,EMRO,NaN,0,NaN,0
2,2020-01-19,AF,Afghanistan,EMRO,NaN,0,NaN,0
3,2020-01-26,AF,Afghanistan,EMRO,NaN,0,NaN,0
4,2020-02-02,AF,Afghanistan,EMRO,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
50635,2023-12-17,ZW,Zimbabwe,AFRO,50.0,266025,NaN,5730
50636,2023-12-24,ZW,Zimbabwe,AFRO,23.0,266048,1.0,5731
50637,2023-12-31,ZW,Zimbabwe,AFRO,-119.0,265929,-7.0,5724
50638,2024-01-07,ZW,Zimbabwe,AFRO,46.0,265975,3.0,5727
50639,2024-01-14,ZW,Zimbabwe,AFRO,NaN,265975,NaN,5727

In [28]:
df_population

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
69,70,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,209.694,146.21,71.916,87.268,55.799,138.207,168.929,106.291,0,0
142,143,Estimates,Sub-Saharan Africa,b,1834,NaN,NaN,202.0,SDG region,1828,...,388.622,324.278,173.83,192.276,155.259,284.876,316.977,253.162,-484.702,-0.448
214,215,Estimates,Northern Africa and Western Asia,NaN,1833,NaN,NaN,747.0,SDG region,1828,...,174.739,113.261,53.27,65.448,39.486,118.468,146.064,87.691,-124.728,-0.235
286,287,Estimates,Central and Southern Asia,NaN,1831,NaN,NaN,62.0,SDG region,1828,...,227.047,168.558,75.217,90.827,58.668,161.773,190.486,131.231,-2473.484,-1.223
358,359,Estimates,Eastern and South-Eastern Asia,NaN,1832,NaN,NaN,753.0,SDG region,1828,...,145.643,86.283,47.004,58.936,34.318,100.287,128.133,71.208,-99.778,-0.043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20305,20306,Estimates,Samoa,NaN,882,WSM,WS,882.0,Country/Area,957,...,199.759,133.625,68.304,81.648,53.949,148.134,178.682,114.303,-2.469,-11.584
20377,20378,Estimates,Tokelau,35,772,TKL,TK,772.0,Country/Area,957,...,141.052,142.411,63.07,58.218,68.146,133.511,132.832,134.951,0.113,66.637
20449,20450,Estimates,Tonga,NaN,776,TON,TO,776.0,Country/Area,957,...,245.689,169.545,97.746,114.797,81.702,194.945,232.709,156.813,-1.898,-17.923
20521,20522,Estimates,Tuvalu,NaN,798,TUV,TV,798.0,Country/Area,957,...,404.852,239.933,174.791,218.086,122.296,308.753,384.691,217.301,-0.057,-5.188
20593,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489

In [29]:
# Hallar nulos
df_covid.isna().sum().sort_values(ascending = False)

New_deaths           26479
New_cases            14112
WHO_region            5064
Country_code          1477
Country               1266
Date_reported            0
Cumulative_cases         0
Cumulative_deaths        0
dtype: int64

In [30]:
# Borrar registros con nulo en 'Country_code'
df_covid = df_covid.dropna(subset=['Country_code'])
df_covid

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-05,AF,Afghanistan,EMRO,NaN,0,NaN,0
1,2020-01-12,AF,Afghanistan,EMRO,NaN,0,NaN,0
2,2020-01-19,AF,Afghanistan,EMRO,NaN,0,NaN,0
3,2020-01-26,AF,Afghanistan,EMRO,NaN,0,NaN,0
4,2020-02-02,AF,Afghanistan,EMRO,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
50635,2023-12-17,ZW,Zimbabwe,AFRO,50.0,266025,NaN,5730
50636,2023-12-24,ZW,Zimbabwe,AFRO,23.0,266048,1.0,5731
50637,2023-12-31,ZW,Zimbabwe,AFRO,-119.0,265929,-7.0,5724
50638,2024-01-07,ZW,Zimbabwe,AFRO,46.0,265975,3.0,5727
50639,2024-01-14,ZW,Zimbabwe,AFRO,NaN,265975,NaN,5727

In [31]:
50640 - 1477

49163

In [32]:
df_covid.isna().sum().sort_values(ascending = False)

New_deaths           25131
New_cases            12818
WHO_region            3798
Date_reported            0
Country_code             0
Country                  0
Cumulative_cases         0
Cumulative_deaths        0
dtype: int64

In [33]:
df_covid = df_covid[['Date_reported','Country_code','Country','New_cases','Cumulative_cases','New_deaths','Cumulative_deaths']]
df_covid

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-05,AF,Afghanistan,NaN,0,NaN,0
1,2020-01-12,AF,Afghanistan,NaN,0,NaN,0
2,2020-01-19,AF,Afghanistan,NaN,0,NaN,0
3,2020-01-26,AF,Afghanistan,NaN,0,NaN,0
4,2020-02-02,AF,Afghanistan,NaN,0,NaN,0
...,...,...,...,...,...,...,...
50635,2023-12-17,ZW,Zimbabwe,50.0,266025,NaN,5730
50636,2023-12-24,ZW,Zimbabwe,23.0,266048,1.0,5731
50637,2023-12-31,ZW,Zimbabwe,-119.0,265929,-7.0,5724
50638,2024-01-07,ZW,Zimbabwe,46.0,265975,3.0,5727
50639,2024-01-14,ZW,Zimbabwe,NaN,265975,NaN,5727

In [34]:
# Imputar nulos por ceros
df_covid.fillna(0, inplace=True)
df_covid

C:\Users\Edgar Fragoso\AppData\Local\Temp\ipykernel_23836\4010016636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_covid.fillna(0, inplace=True)

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-05,AF,Afghanistan,0.0,0,0.0,0
1,2020-01-12,AF,Afghanistan,0.0,0,0.0,0
2,2020-01-19,AF,Afghanistan,0.0,0,0.0,0
3,2020-01-26,AF,Afghanistan,0.0,0,0.0,0
4,2020-02-02,AF,Afghanistan,0.0,0,0.0,0
...,...,...,...,...,...,...,...
50635,2023-12-17,ZW,Zimbabwe,50.0,266025,0.0,5730
50636,2023-12-24,ZW,Zimbabwe,23.0,266048,1.0,5731
50637,2023-12-31,ZW,Zimbabwe,-119.0,265929,-7.0,5724
50638,2024-01-07,ZW,Zimbabwe,46.0,265975,3.0,5727
50639,2024-01-14,ZW,Zimbabwe,0.0,265975,0.0,5727

In [35]:
# Cambiar de float a int
df_covid[['New_cases', 'New_deaths']] = df_covid[['New_cases', 'New_deaths']].astype(int)
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49163 entries, 0 to 50639
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      49163 non-null  object
 1   Country_code       49163 non-null  object
 2   Country            49163 non-null  object
 3   New_cases          49163 non-null  int32
 4   Cumulative_cases   49163 non-null  int64
 5   New_deaths         49163 non-null  int32
 6   Cumulative_deaths  49163 non-null  int64
dtypes: int32(2), int64(2), object(3)
memory usage: 2.6+ MB

C:\Users\Edgar Fragoso\AppData\Local\Temp\ipykernel_23836\694084270.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_covid[['New_cases', 'New_deaths']] = df_covid[['New_cases', 'New_deaths']].astype(int)

In [36]:
# Crear nueva columna mediante formula
df_covid['lethality_rate'] = df_covid['Cumulative_deaths'] / df_covid['Cumulative_cases'] * 100
df_covid

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,lethality_rate
0,2020-01-05,AF,Afghanistan,0,0,0,0,NaN
1,2020-01-12,AF,Afghanistan,0,0,0,0,NaN
2,2020-01-19,AF,Afghanistan,0,0,0,0,NaN
3,2020-01-26,AF,Afghanistan,0,0,0,0,NaN
4,2020-02-02,AF,Afghanistan,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...
50635,2023-12-17,ZW,Zimbabwe,50,266025,0,5730,2.153933
50636,2023-12-24,ZW,Zimbabwe,23,266048,1,5731,2.154123
50637,2023-12-31,ZW,Zimbabwe,-119,265929,-7,5724,2.152454
50638,2024-01-07,ZW,Zimbabwe,46,265975,3,5727,2.153210
50639,2024-01-14,ZW,Zimbabwe,0,265975,0,5727,2.153210

In [37]:
#Con el fin de eliminar outliers, nos quedaremos con los registros cuyo valor en la columna lethality_rate se encuentre entre los cuantiles 0 a 0.99
df_covid = df_covid[(df_covid['lethality_rate'] > 0) & (df_covid['lethality_rate'] < 0.99)]
df_covid

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,lethality_rate
749,2022-03-27,AS,American Samoa,1881,3278,2,2,0.061013
750,2022-04-03,AS,American Samoa,1378,4656,5,7,0.150344
751,2022-04-10,AS,American Samoa,746,5402,4,11,0.203628
752,2022-04-17,AS,American Samoa,133,5535,7,18,0.325203
753,2022-04-24,AS,American Samoa,230,5765,5,23,0.398959
...,...,...,...,...,...,...,...,...
50238,2020-05-24,ZM,Zambia,241,920,0,9,0.978261
50239,2020-05-31,ZM,Zambia,137,1057,0,9,0.851466
50240,2020-06-07,ZM,Zambia,97,1154,0,9,0.779896
50241,2020-06-14,ZM,Zambia,203,1357,0,9,0.663228
50242,2020-06-21,ZM,Zambia,81,1438,1,10,0.695410

In [38]:
#Finalmente reiniciaremos el índice del dataframe final df_covid_limpio
df_covid_limpio = df_covid.reset_index(drop=True)
df_covid_limpio

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,lethality_rate
0,2022-03-27,AS,American Samoa,1881,3278,2,2,0.061013
1,2022-04-03,AS,American Samoa,1378,4656,5,7,0.150344
2,2022-04-10,AS,American Samoa,746,5402,4,11,0.203628
3,2022-04-17,AS,American Samoa,133,5535,7,18,0.325203
4,2022-04-24,AS,American Samoa,230,5765,5,23,0.398959
...,...,...,...,...,...,...,...,...
16745,2020-05-24,ZM,Zambia,241,920,0,9,0.978261
16746,2020-05-31,ZM,Zambia,137,1057,0,9,0.851466
16747,2020-06-07,ZM,Zambia,97,1154,0,9,0.779896
16748,2020-06-14,ZM,Zambia,203,1357,0,9,0.663228
16749,2020-06-21,ZM,Zambia,81,1438,1,10,0.695410

In [39]:
#Mantener en el dataframe sólo las siguientes columnas: ['ISO2 Alpha-code','Total Population, as of 1 July (thousands)','Male Population, as of 1 July (thousands)','Female Population, as of 1 July (thousands)','Population Density, as of 1 July (persons per square km)','Life Expectancy at Birth, both sexes (years)']
df_population = df_population[['ISO2 Alpha-code','Total Population, as of 1 July (thousands)','Male Population, as of 1 July (thousands)','Female Population, as of 1 July (thousands)','Population Density, as of 1 July (persons per square km)','Life Expectancy at Birth, both sexes (years)']]
df_population

,ISO2 Alpha-code,"Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Life Expectancy at Birth, both sexes (years)"
69,NaN,7764951.032,3906407.855,3858543.178,59.546,72.79
142,NaN,1080677.346,538158.386,542518.959,49.425,60.725
214,NaN,530149.56,273104.233,257045.327,42.485,73.392
286,NaN,2021559.651,1033583.865,987975.786,195.683,70.615
358,NaN,2324282.002,1176368.32,1147913.681,143.117,77.013
...,...,...,...,...,...,...
20305,WS,211.905,108.147,103.759,74.878,72.157
20377,TK,1.752,0.879,0.874,146,75.076
20449,TO,104.951,51.994,52.956,161.462,70.871
20521,TV,10.956,5.654,5.301,365.2,64.278
20593,WF,11.714,5.648,6.066,83.671,79.617

In [40]:
#Renombrar las columnas para nombre más sencillos:
df_population = df_population.rename(columns={
    'ISO2 Alpha-code': 'Country_code',
    'Total Population, as of 1 July (thousands)': 'Total_Population',
    'Male Population, as of 1 July (thousands)': 'Male_Population',
    'Female Population, as of 1 July (thousands)': 'Female_Population',
    'Population Density, as of 1 July (persons per square km)': 'Population_Density',
    'Life Expectancy at Birth, both sexes (years)': 'Life_Expectancy'
})
df_population

,Country_code,Total_Population,Male_Population,Female_Population,Population_Density,Life_Expectancy
69,NaN,7764951.032,3906407.855,3858543.178,59.546,72.79
142,NaN,1080677.346,538158.386,542518.959,49.425,60.725
214,NaN,530149.56,273104.233,257045.327,42.485,73.392
286,NaN,2021559.651,1033583.865,987975.786,195.683,70.615
358,NaN,2324282.002,1176368.32,1147913.681,143.117,77.013
...,...,...,...,...,...,...
20305,WS,211.905,108.147,103.759,74.878,72.157
20377,TK,1.752,0.879,0.874,146,75.076
20449,TO,104.951,51.994,52.956,161.462,70.871
20521,TV,10.956,5.654,5.301,365.2,64.278
20593,WF,11.714,5.648,6.066,83.671,79.617

In [41]:
#Eliminar todos los registros nulos.
# Hallar nulos
df_population.isna().sum().sort_values(ascending = False)

Country_code          50
Total_Population       0
Male_Population        0
Female_Population      0
Population_Density     0
Life_Expectancy        0
dtype: int64

In [42]:
# Borrar registros nulos
df_population = df_population.dropna()
df_population

,Country_code,Total_Population,Male_Population,Female_Population,Population_Density,Life_Expectancy
1801,BI,11874.838,5894.278,5980.56,457.605,62.351
1873,KM,790.986,397.126,393.86,425.033,64.068
1945,DJ,1073.994,533.626,540.367,46.333,63.085
2017,ER,3498.818,1724.86,1773.958,28.881,67.3
2089,ET,114120.594,57375.433,56745.161,114.121,65.838
...,...,...,...,...,...,...
20305,WS,211.905,108.147,103.759,74.878,72.157
20377,TK,1.752,0.879,0.874,146,75.076
20449,TO,104.951,51.994,52.956,161.462,70.871
20521,TV,10.956,5.654,5.301,365.2,64.278
20593,WF,11.714,5.648,6.066,83.671,79.617

In [43]:
#Substituir el formato actual de las columnas ['Total_Population','Male_Population','Female_Population','Population_Density','Life_Expectancy']para un formato de tipo int64.
df_population.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 1801 to 20593
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country_code        236 non-null    object
 1   Total_Population    236 non-null    object
 2   Male_Population     236 non-null    object
 3   Female_Population   236 non-null    object
 4   Population_Density  236 non-null    object
 5   Life_Expectancy     236 non-null    object
dtypes: object(6)
memory usage: 12.9+ KB

In [44]:
# Encontrar una fila con una condicion
n = df_population[df_population['Male_Population'] == '...']

In [45]:
# Borrar teniendo el indice
df_population.drop(df_population[df_population['Male_Population'] == '...'].index, inplace=True)

C:\Users\Edgar Fragoso\AppData\Local\Temp\ipykernel_23836\3577982306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_population.drop(df_population[df_population['Male_Population'] == '...'].index, inplace=True)

In [46]:
df_population

,Country_code,Total_Population,Male_Population,Female_Population,Population_Density,Life_Expectancy
1801,BI,11874.838,5894.278,5980.56,457.605,62.351
1873,KM,790.986,397.126,393.86,425.033,64.068
1945,DJ,1073.994,533.626,540.367,46.333,63.085
2017,ER,3498.818,1724.86,1773.958,28.881,67.3
2089,ET,114120.594,57375.433,56745.161,114.121,65.838
...,...,...,...,...,...,...
20305,WS,211.905,108.147,103.759,74.878,72.157
20377,TK,1.752,0.879,0.874,146,75.076
20449,TO,104.951,51.994,52.956,161.462,70.871
20521,TV,10.956,5.654,5.301,365.2,64.278
20593,WF,11.714,5.648,6.066,83.671,79.617

In [47]:
#Multiplicar por 1000 el valor actual de las siguientes columnas 'Total_Population','Male_Population','Female_Population' y sobreescribirlas.
df_population[['Total_Population','Male_Population','Female_Population']] = df_population[['Total_Population','Male_Population','Female_Population']] * 1000
df_population

C:\Users\Edgar Fragoso\AppData\Local\Temp\ipykernel_23836\1403954751.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_population[['Total_Population','Male_Population','Female_Population']] = df_population[['Total_Population','Male_Population','Female_Population']] * 1000

,Country_code,Total_Population,Male_Population,Female_Population,Population_Density,Life_Expectancy
1801,BI,11874838.0,5894278.0,5980560.0,457.605,62.351
1873,KM,790986.0,397126.0,393860.0,425.033,64.068
1945,DJ,1073994.0,533626.0,540367.0,46.333,63.085
2017,ER,3498818.0,1724860.0,1773958.0,28.881,67.3
2089,ET,114120594.0,57375433.0,56745161.0,114.121,65.838
...,...,...,...,...,...,...
20305,WS,211905.0,108147.0,103759.0,74.878,72.157
20377,TK,1752.0,879.0,874.0,146,75.076
20449,TO,104951.0,51994.0,52956.0,161.462,70.871
20521,TV,10956.0,5654.0,5301.0,365.2,64.278
20593,WF,11714.0,5648.0,6066.0,83.671,79.617

In [48]:
#Volver a eliminar todos los registros nulos.
# Buscar nulos
df_population.isna().sum().sort_values(ascending = False)

Country_code          0
Total_Population      0
Male_Population       0
Female_Population     0
Population_Density    0
Life_Expectancy       0
dtype: int64

In [49]:
#Finalmente reiniciaremos el índice del dataframe final df_population_limpio
# Reiniciar índice
df_population_limpio = df_population.reset_index(drop=True)
df_population_limpio

,Country_code,Total_Population,Male_Population,Female_Population,Population_Density,Life_Expectancy
0,BI,11874838.0,5894278.0,5980560.0,457.605,62.351
1,KM,790986.0,397126.0,393860.0,425.033,64.068
2,DJ,1073994.0,533626.0,540367.0,46.333,63.085
3,ER,3498818.0,1724860.0,1773958.0,28.881,67.3
4,ET,114120594.0,57375433.0,56745161.0,114.121,65.838
...,...,...,...,...,...,...
230,WS,211905.0,108147.0,103759.0,74.878,72.157
231,TK,1752.0,879.0,874.0,146,75.076
232,TO,104951.0,51994.0,52956.0,161.462,70.871
233,TV,10956.0,5654.0,5301.0,365.2,64.278
234,WF,11714.0,5648.0,6066.0,83.671,79.617