In [1]:
import pandas as pd
import numpy as np 
import requests
from io import StringIO
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.ticker import FuncFormatter
from sklearn.ensemble import RandomForestRegressor
import json
from datetime import datetime
import seaborn as sns

In [15]:
df_covid_limpio = pd.read_csv('df_covid_limpio.csv', sep=',')
df_covid_limpio.head()

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,lethality_rate
0,2022-03-27,AS,American Samoa,1881,3278,2,2,0.061013
1,2022-04-03,AS,American Samoa,1378,4656,5,7,0.150344
2,2022-04-10,AS,American Samoa,746,5402,4,11,0.203628
3,2022-04-17,AS,American Samoa,133,5535,7,18,0.325203
4,2022-04-24,AS,American Samoa,230,5765,5,23,0.398959

In [17]:
df_covid_limpio["Date_reported"] = pd.to_datetime(df_covid_limpio["Date_reported"])
df_covid_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16873 entries, 0 to 16872
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      16873 non-null  datetime64[ns]
 1   Country_code       16873 non-null  object
 2   Country            16873 non-null  object
 3   New_cases          16873 non-null  int64
 4   Cumulative_cases   16873 non-null  int64
 5   New_deaths         16873 non-null  int64
 6   Cumulative_deaths  16873 non-null  int64
 7   lethality_rate     16873 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 1.0+ MB

In [19]:
#Creamos la función de obtener el máximo de filas
def get_max_row(group, column):
    return group.loc[group[column].idxmax()]

In [20]:
#Usando el dataframe df_covid_limpio, vamos a agrupar por país y fecha en formato (año-mes) para obtener el registro con mayor índice de letalidad en ese mes, guardamos el resultado en result.
result = df_covid_limpio.groupby(['Country', df_covid_limpio['Date_reported'].dt.to_period("M")]).apply(lambda group: get_max_row(group, 'lethality_rate'))

In [21]:
#Luego reiniciamos el índice de result.
result.reset_index(drop=True, inplace=True)

In [22]:
#Luego agrupamos el df result por nombre de país y obtenemos el indice de letalidad promedio por cada país, nos quedamos con los 4 mayores y guardamos el resultado en top_4_paises.
top_4_paises = result.groupby('Country')['lethality_rate'].mean().nlargest(4).index

In [23]:
#Luego filtramos el df result para quedarnos únicamente con los registros cuyo país está en la lista top_4_paises.
result = result[result['Country'].isin(top_4_paises)]

In [24]:
#Luego, repetimos los 2 primeros pasos pero filtrando el país que estamos analizando, guardamos el resultado en result_pais.
result_pais = df_covid_limpio[df_covid_limpio['Country'] == 'France'].groupby(df_covid_limpio['Date_reported'].dt.to_period("M")).apply(lambda group: get_max_row(group, 'lethality_rate'))
result_pais.reset_index(drop=True, inplace=True)

In [25]:
#Finalmente juntamos result y result_pais en un único dataframe result_final, para tener finalmente el top 4 países con mayor índice de letalidad y también incluir el país que estamos analizando.
result_final = pd.concat([result, result_pais])
result_final

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,lethality_rate
331,2020-08-16,BZ,Belize,242,388,1,3,0.773196
332,2022-09-18,BZ,Belize,231,68704,0,680,0.989753
333,2022-12-25,BZ,Belize,299,69675,0,688,0.987442
334,2023-01-01,BZ,Belize,271,69946,0,688,0.983616
335,2023-02-05,BZ,Belize,50,70660,0,688,0.973677
336,2023-03-05,BZ,Belize,17,70757,0,688,0.972342
337,2023-04-02,BZ,Belize,0,70782,0,688,0.971999
338,2023-05-07,BZ,Belize,0,70782,0,688,0.971999
339,2023-06-04,BZ,Belize,7,70800,0,688,0.971751
340,2023-07-02,BZ,Belize,33,70918,0,688,0.970135
341,2023-08-06,BZ,Belize,53,71095,0,688,0.967719
342,2023-09-03,BZ,Belize,52,71314,0,688,0.964747
343,2023-10-01,BZ,Belize,0,71373,0,688,0.963950
344,2023-11-05,BZ,Belize,0,71373,0,688,0.963950
345,2023-12-03,BZ,Belize,0,71373,0,688,0.963950
346,2024-01-07,BZ,Belize,0,71373,0,688,0.963950
1826,2020-08-30,JM,Jamaica,665,2011,3,19,0.944804
2179,2020-06-07,MW,Malawi,130,409,0,4,0.977995
2816,2020-03-22,PL,Poland,431,534,2,5,0.936330
0,2022-01-16,FR,France,1961912,13538779,1499,128463,0.948852
1,2022-02-06,FR,France,1707588,19992784,1996,134050,0.670492
2,2022-03-06,FR,France,348284,22259203,1094,140208,0.629888
3,2022-04-03,FR,France,959358,25076110,801,143348,0.571652
4,2022-05-01,FR,France,376510,27742592,867,146744,0.528948
5,2022-06-05,FR,France,148073,28647902,329,149202,0.520813
6,2022-07-03,FR,France,731586,30327933,264,150259,0.495448
7,2022-08-07,FR,France,212195,32979608,529,153125,0.464302
8,2022-09-04,FR,France,106571,33473620,302,154675,0.462080
9,2022-10-02,FR,France,310114,34315693,217,155574,0.453361
10,2022-11-06,FR,France,153617,35818388,445,157764,0.440455
11,2022-12-04,FR,France,384070,36868834,485,159570,0.432805
12,2023-01-29,FR,France,29999,38327299,326,164480,0.429146
13,2023-02-26,FR,France,26274,38426361,170,165261,0.430072
14,2023-03-05,FR,France,25318,38451679,152,165413,0.430184
15,2023-04-30,FR,France,40443,38842584,249,166958,0.429832
16,2023-05-28,FR,France,25230,38944076,149,167638,0.430458
17,2023-06-25,FR,France,7982,38997490,62,167985,0.430758
18,2023-07-02,FR,France,0,38997490,0,167985,0.430758
19,2023-08-06,FR,France,0,38997490,0,167985,0.430758
20,2023-09-03,FR,France,0,38997490,0,167985,0.430758
21,2023-10-01,FR,France,0,38997490,0,167985,0.430758
22,2023-11-05,FR,France,0,38997490,0,167985,0.430758
23,2023-12-03,FR,France,0,38997490,0,167985,0.430758
24,2024-01-07,FR,France,0,38997490,0,167985,0.430758